# Kestra credentials (default for local dev)
KESTRA_USERNAME=admin@kestra.io
KESTRA_PASSWORD=kestra
KESTRA_URL=http://localhost:8082

# LocalStack
AWS_ENDPOINT_URL=http://localhost:4567
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
